.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper{
  background-color: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer{
  position: fixed;
  bottom: 0;
}
footer a{
  color: #4aee88;
}
.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;

}
.HomePageLogo{
  height: 80px;
  margin-bottom: 40px;
}
.inputBox{
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.joinBtn, .leaveBtn{
  background-color: #4aee88;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover, .leaveBtn:hover{
  background-color: #2b824c;
}
.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover{
  color: #368654;
  border-color:#368654;

}
.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner{
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: bold;
}
.username {
  margin-top: 10px;
}
.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage{
  height: 60px;
}

.leaveBtn{
  margin-top: 20px;
  width: 100%;
}

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
#header-container {
    display: block;
    position: fixed;
    width: 150px;
    height: 40px;
    right: 50px;
    top: 5px;
    z-index: 999;
}

#themeOptions{
  outline: none;
    margin: 0 auto;
    color: white;
    background-color: black;
    border: 5px solid black;
    width: 150px;
    height: 60px;
    cursor: pointer;
    font-size: 20px;
}
@media only screen and (max-width: 800px) {
  #header-container{
    display: none;
  }
}